* {
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
}

.btn {
    height: 15px;
    display: flex;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 30px;
}

a {
    text-decoration: none;

    padding: 10px 20px;
    font-weight: bold;
    color: #d8b3a3;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px 10%;
}

a.active {
    border: 2px solid #d8b3a3;
}
